.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 0;
  color: orangered;
}