.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

.button {
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 10px;
  text-align: center;
  border-radius: 14px;
  background-color: bisque;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}